{sys, [
       {lib_dirs, ["../lib"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "erl_ocat", "0.0.0",
	[kernel, stdlib, sasl, procket, erl_ocat]},
       {rel, "start_clean", "", [kernel, stdlib]},
       {boot_rel, "erl_ocat"},
       {profile, embedded},
       {incl_cond, exclude},
       {mod_cond, derived},
       {excl_sys_filters, ["^bin/.*",
			   "^erts.*/bin/(dialyzer|typer|ct_run|heart|start)$",
			   "^erts.*/bin/(epmd|erlc|escript|beam)$",
			   "^erts.*/bin/(to_erl|run_erl|inet_gethost|erl)$",
			   "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["include"]},
       {app, kernel, [{mod_cond, app}, {incl_cond, include}]},
       {app, stdlib, [{mod_cond, app}, {incl_cond, include}]},
       {app, sasl, [{mod_cond, app}, {incl_cond, include}]},
       {app, procket, [{mod_cond, app}, {incl_cond, include}]},
       {app, erl_ocat, [{mod_cond, app}, {incl_cond, include}]}
     ]}.

{overlay, [
	   {copy, "files/erl", "bin/erl"}
	  ]}.
